@font-face {font-family: 'Raleway'; src: './font/Raleway-Regular.ttf'};

body{
    background-color: lightblue;
    font-family: 'Raleway', sans-serif;
    font-size: .8em;
}
.basu-chatbox{
    position: fixed;
    right: 3%;
    bottom: 10px;
    height: 350px;
    width: 250px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 2px 0px 5px grey;
    transition: all 0.5s ease;
    .basu-chatbox-header{
        padding: 5px;
        background-color: royalblue;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .basu-chatbox-title{
            width: 25px;
            height: 25px;
            padding: 5px;
            text-align: center;
            svg{
                color: white;
            }
        }
        .basu-chatbox-actions{
            display: flex;
            justify-content: center;
            align-items: center;
            .basu-chatbox-action{
                margin-right: 0px;
                width: 20px;
                height: 20px;
                cursor: pointer;
                padding: 5px;
                text-align: center;
                svg{
                    width: 18px;
                    height: 18px;
                    color: white;
                }
                &:hover{
                    svg{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
    .basu-chatbox-log{
        height: 250px;
        padding: 5px;
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
        background-color: lightcyan;
        .basu-chat-msg-row{
            margin-bottom: 5px;
            .basu-chat-bubble{
                width: 150px;
                color: whitesmoke;
                padding: 5px;
                border-radius: 4px;
                box-shadow: 2px 0px 5px grey;
            }
            .basu-chat-bubble-right{
                background-color: darkslateblue;
                margin-right: 2px;
                margin-left: auto;
            }
            .basu-chat-bubble-left{
                background-color: forestgreen;
                margin-left: 2px;
                margin-right: auto;
            }
        }
    }
    .basu-chatbox-msg{
        height: 60px;
        display: flex;
        color: slategray;
        .basu-chat-msg-box{
            width: 190px;
            height: 60px;
            textarea#basu-chat-msg{
                width: 185px;
                height: 55px;
                padding: 5px;
                color: darkcyan;
                resize: none;
                border: none;
            }
        }
        .basu-chat-send-button{
            cursor: pointer;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-left: 1px solid lightblue;
            &:hover{
                svg{
                    padding: 10px;
                    width: 40px;
                    height: 40px;
                }
            }
            svg{
                padding: 15px;
                width: 30px;
                height: 30px;
                color: royalblue;
            }
        }
    }
}
.basu-hidden{
    display: none;
}
.basu-minimize{
    height: 45px;
    bottom: 10px;
    box-shadow: 0px 0px 0px grey;
    transition: all 0.5s ease;
    overflow: hidden;
    .basu-chatbox-log{
        transition: all 0.5s ease;
        overflow: hidden;
        height: 0px;
    }
    .basu-chatbox-msg{
        transition: all 0.5s ease;
        overflow: hidden;
        height: 0px;
    }
}
.basu-maximize{
    height: 350px;
    bottom: 10px;
    box-shadow: 2px 0px 5px grey;
    transition: all 0.5s ease;
    .basu-chatbox-log{
        transition: all 0.5s ease;
        height: 250px;
    }
    .basu-chatbox-msg{
        transition: all 0.5s ease;
        height: 60px;
    }
}